@font-face {
  font-family: "RH";
  src: url(fonts/Rejouice-Headline.ttf);
}

@font-face {
  font-family: "NB";
  src: url(fonts/NBInternationalProBoo.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NB";
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
  position: relative;
}

#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

#cursor {
  height: 6vw;
  width: 6vw;
  background-color: #ff5f38;
  border-radius: 50%;
  position: fixed;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}

#cursor h5 {
  font-size: 2.5vh;
  font-weight: 100;
}

#page1-content {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 10;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3.5vw 3vw;
}

nav h3 {
  font-size: 1.3vw;
  font-weight: 300;
}

nav h4 {
  font-size: 1.3vw;
  font-weight: 100;
}

#page1-content h1{
  font-family: "RH";
  font-size: 25vw;
  font-weight: 100;
  line-height: 27vw;

}

#page1-content h1 span{
    display: inline-block;
    font-family: "RH";
}

#page2 {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

#page2-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: 7vh;
  padding: 3vh;
  padding-top: 7vh;
  font-size: 1.7vw;
}

#page2-headerleft {
  display: flex;
  flex-direction: column;
}

#page2-headerright {
  display: flex;
  justify-content: end;
  padding-top: 2vw;
}

hr {
  width: 88%;
  justify-content: center;
  margin-left: 9vh;
}

#page2-body {
  width: 95%;
  font-weight: 200;
  font-size: 4.5vw;
  padding: 4vh;
  margin-left: 5vh;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 3vw;
}

#page3-top {
  text-align: center;
}

#page3-top h4 {
  margin-bottom: 1vw;
  font-size: 1vw;
  font-weight: 500;
}

#page3-top h2 {
  font-size: 4vw;
  font-weight: 500;
  text-decoration: underline;
}

.model {
  font-size: 0.7vw;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 5px 8px;
}

.arrow {
  font-size: 2vw;
}

#page3-element {
  height: 75vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7vw;
}

#page3-element .box {
  height: 100%;
  width: 32.5%;
  position: relative;
}

#page3-element .box video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#page3-element .box img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-position: center;
  transition: all ease-in-out 0.5s;
}

#page3-element .box:hover img {
  opacity: 0%;
}

#page4-body {
  width: 90%;
  font-weight: 200;
  font-size: 4vw;
  padding: 4vh;
  margin-left: 5vh;
}

#page4 {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

#page4-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: 7vh;
  padding: 3vh;
  padding-top: 7vh;
  font-size: 1.5vw;
}

#page4-headerleft {
  display: flex;
  flex-direction: column;
}

#page5-content {
  height: 120vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20%;
}

#page5-content video {
  height: 100%;
}

#page5-content svg {
  position: absolute;
  height: 60%;
}

.textingradient {
  position: absolute;
  color: white;
  text-align: center;
}

#page6-body {
  width: 90%;
  font-weight: 200;
  font-size: 4vw;
  padding: 4vh;
  margin-left: 5vh;
}

#page6 {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

#page6-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: 7vh;
  padding: 3vh;
  padding-top: 7vh;
  font-size: 1.5vw;
}

#page6-headerleft {
  display: flex;
  flex-direction: column;
}

#cursor2 {
  height: 6vw;
  width: 6vw;
  background-color: #000000;
  color: white;
  border-radius: 50%;
  position: fixed;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}

#cursor2 h5 {
  font-size: 2.5vh;
  font-weight: 100;
}

#page7 {
  height: 100vh;
  width: 100%;
  padding: 4vw 0;
  position: relative;
}

#page7 h1 {
  font-size: 9vw;
  font-family: "RH";
  font-weight: 300;
  border-bottom: 1px solid black;
  width: 95%;
  margin-left: 2%;
}

#swiperdiv {
  height: 60vh;
  width: 100%;
  /* background-color: red; */
  position: relative;
  margin-top: -30px;
}

.swiper {
  width: 100%;
  height: 100%;

}

.swiper-slide {
  width: 400px;
  text-align: center;
  font-size: 18px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}


#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 8px;
}

#loader h3{
    font-size: 1.5vw;
}

#page8{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;
}

#page8 h3{
  font-weight: 100;
  margin-bottom: 2%;
  font-size: 1.2vw;
}


#page8 h1{
  font-size: 4vw;
  font-weight: 100;
  text-decoration: underline;
}

footer{
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
}

#footertopdiv{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-right: 50px;
  padding-left: 50px;
}

#footertopdivright{
  display: flex;
  flex-direction: row;
  gap: 90px;
}

#footertopdivleft h1{
  font-weight: 100;
}

#footertopdivleft button{
  width: 180px;
  height: 70px;
  margin-top: 20px;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  font-size: 1.1vw;
  border: 1px solid #ffffff;
}

#footerpages{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

#footersocials{
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}